main { 
  width:100%;
}

section { 
  margin: 0 auto;
  text-align: left;
  width: 100%;
}
 
.grid {
  height: auto;
  overflow: hidden;
  text-align: center;
  width: 100%;
  &.show-overflow {
    overflow: visible;
    white-space: normal;
  }
}

.row { 
  display: inline-block;
  margin: 0 auto;
  max-width: $main-width;
  padding-left: $body-padding;
  position: relative;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  &.nopadding { 
   padding: 0;
  }
  &.wide { 
   max-width: none;
  } 
  &.show-overflow {
    overflow: visible;
    white-space: normal;
  } 
  @media screen and (max-width: 768px){
    &.show-overflow-tab {
      overflow: visible;
      white-space: normal;
    }     
  }
  p { 
    white-space: normal;
  }  
}

div[class^="col-"]{
  display: inline-block;
  padding-right: $body-padding;
  position: relative;
  white-space: normal;
  vertical-align: top;
  &.nopadding { 
   padding: 0;
  }
}

.col-1 { 
  width:100%;
}

.col-1-2 {
  width:50%;
}

.col-1-3 { 
  width:33.3%;
}

.col-1-4 { 
  width:25%;
}

.col-1-5 { 
  width:20%;
}

.col-1-7 { 
  width:14.28%;
}

.col-1-8 {
  width:12.5%;
}

.col-1-9 {
  width:11.1%;
}

.col-1-16 {
  width:6.25%;
}

.col-2-3 { 
  width:66.6%;
}

.col-2-5 { 
  width:40%;
}

.col-3-5 { 
  width:60%;
}

.col-4-5 { 
  width:80%;
}

//Responsive elements

@media screen and (max-width: 768px){
  .\@tab__brk-1 { 
    width: 100%;
  }
  .\@tab__brk-1-2 { 
    width: 50%;
  }  
  .\@tab__brk-1-3 { 
    width: 33.3%;
  }
  .\@tab__brk-2-3 { 
    width: 66.6%;
  }
  .\@tab__brk-1-4 { 
    width: 25%;
  }
  .\@tab__brk-1-5 { 
    width: 20%;
  }    
}

@media screen and (max-width: 450px){
  /* Use '\' to escape the @ symbol */
  .\@mob__brk-1 { 
    width: 100%;
  }
  .\@mob__brk-1-2 { 
    width: 50%;
  }
  .\@mob__brk-1-3 { 
    width: 33.3%;
  } 
  .\@mob__brk-2-3 { 
    width: 66.6%;
  }    
  .\@mob__brk-1-4 { 
    width: 25%;
  }
  .\@mob__brk-1-5 { 
    width: 20%;
  }
}